flows.json
[{"id":"30a7d6d5.c3fbca","type":"tab","label":"SPACK LoRa Ground Stations","disabled":false,"info":""},{"id":"55836d3d.e43964","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080ff","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"SPACK TinyGS Ground Stations","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"3fc70ce.adf6cf4","type":"ui_group","z":"","name":"SPACK 2 GS","tab":"279bece4.a21864","order":2,"disp":true,"width":"9","collapse":true},{"id":"279bece4.a21864","type":"ui_tab","z":"","name":"SPACK' Satellite Ground stations ","icon":"satellite","order":1,"disabled":false,"hidden":false},{"id":"acff9511.833668","type":"mqtt-broker","z":"","name":"mqtt.tinygs.com","broker":"mqtt.tinygs.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"375517.a69b9aea","type":"ui_group","z":"","name":"SPACK_Kenya GS","tab":"279bece4.a21864","order":1,"disp":true,"width":"9","collapse":true},{"id":"8a41564d.893ef8","type":"ui_link","z":"","name":"SPACK_Kenya TinyGS web page","link":"https://tinygs.com/station/SPACK_Kenya@1077001316","icon":"open_in_browser","target":"newtab","order":2},{"id":"26be155a.69e81a","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":"","charset":""},{"id":"865ddc55.bf348","type":"ui_spacer","name":"spacer","group":"3fc70ce.adf6cf4","order":9,"width":3,"height":1},{"id":"4c17afda.9c555","type":"ui_spacer","name":"spacer","group":"375517.a69b9aea","order":9,"width":3,"height":1},{"id":"e7aeb25b.e19b1","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"62639594.53584c","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":6,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#8080ff","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":260,"wires":[[]]},{"id":"7d46305.2a37fd","type":"inject","z":"30a7d6d5.c3fbca","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":400,"wires":[["62639594.53584c","843d1f75.ee1cb","c0f0c6f3.bed3f8"]]},{"id":"22724090.68974","type":"inject","z":"30a7d6d5.c3fbca","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":43,"wires":[["49dd9de2.43fc54","c7872700.342fb8"]]},{"id":"fad82fbf.0165a","type":"mqtt in","z":"30a7d6d5.c3fbca","name":"","topic":"tinygs/1338917787/SPACK_Kenya/cmnd/begin","qos":"2","datatype":"auto","broker":"acff9511.833668","x":240,"y":220,"wires":[["c05a8a32.20b848"]]},{"id":"c05a8a32.20b848","type":"json","z":"30a7d6d5.c3fbca","name":"","property":"payload","action":"","pretty":false,"x":310,"y":300,"wires":[["c3304628.f787d8"]]},{"id":"eeb941a8.89396","type":"mqtt in","z":"30a7d6d5.c3fbca","name":"","topic":"tinygs/401761079/McOrts/cmnd/frame/0","qos":"2","datatype":"auto","broker":"acff9511.833668","x":210,"y":563,"wires":[["39d4302f.3605c"]]},{"id":"39d4302f.3605c","type":"json","z":"30a7d6d5.c3fbca","name":"","property":"payload","action":"","pretty":false,"x":290,"y":663,"wires":[["aa2a095a.bea0d8"]]},{"id":"c3304628.f787d8","type":"function","z":"30a7d6d5.c3fbca","name":"Parse","func":"var str=\"\";\nvar pi = 0;\nvar pf = 0;\n\nstr = msg.payload[2][4]\npi = str.search(\":-\")+1;\npf = str.search(\"/-\");\nvar rssi={}\nrssi.topic = \"rssi\";\nrssi.payload = parseInt(str.substring(pi,pf));\n\npi = str.search(\"/-\")+1;\npf = str.length-2;\nvar snr = {};\nsnr.topic = \"SNR\";\nsnr.payload = parseInt(str.substring(pi,pf));\n\nvar frequency_connection={};\nfrequency_connection.topic = \"KHz Doppler\";\nstr = msg.payload[3][4];\nfrequency_connection.payload = flow.get(\"freq\").payload + (parseInt(str.substring(12,str.length-2)) / 1000);\n\nvar satellite={};\nsatellite.topic = \"Satellite\";\nsatellite.payload = msg.payload[0][4];\n\nvar crc={};\ncrc.topic = \"CRC Ok\";\nif (msg.payload[4][4] === \"CRC ERROR\" || msg.payload[4][4] === \"CRC_ERROR\"){\n    crc.payload = parseInt(0);\n} else {\n    crc.payload = parseInt(500);\n}\n\nreturn [flow.get(\"mode\"),flow.get(\"freq\"),frequency_connection,flow.get(\"sf\"),flow.get(\"cr\"),snr,flow.get(\"bw\"),rssi,crc,satellite];","outputs":10,"noerr":0,"x":550,"y":300,"wires":[["cc0a626e.10c7f"],["62639594.53584c"],["62639594.53584c"],["843d1f75.ee1cb"],["843d1f75.ee1cb"],["9e4859b5.6cfc68","843d1f75.ee1cb"],["c0f0c6f3.bed3f8"],["6c073466.13017c","c0f0c6f3.bed3f8"],["c0f0c6f3.bed3f8"],["d305f9d6.84fdc8","875a7ed5.df9d3"]]},{"id":"cc0a626e.10c7f","type":"ui_text","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","order":4,"width":2,"height":1,"name":"","label":"Modulat.","format":"{{msg.payload}}","layout":"col-center","x":980,"y":220,"wires":[]},{"id":"843d1f75.ee1cb","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":7,"width":6,"height":5,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#64c4a9","#e4f65a","#ec4b63","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":300,"wires":[[]]},{"id":"c0f0c6f3.bed3f8","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":11,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"-200","ymax":"600","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff7b","#8080ff","#f7f7f7","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":340,"wires":[[]]},{"id":"9e4859b5.6cfc68","type":"ui_gauge","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":8,"width":3,"height":2,"gtype":"gage","title":"SNR","label":"dB","format":"{{value}}","min":"-20","max":10,"colors":["#ca3838","#e6e600","#00ba00"],"seg1":"","seg2":"","x":790,"y":420,"wires":[],"info":"Typical LoRa SNR values are between: -20dB and +10dB A value closer to +10dB means the received signal is less corrupted. LoRa can demodulate signals which are -7.5 dB to -20 dB below the noise floor"},{"id":"6c073466.13017c","type":"ui_gauge","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":10,"width":3,"height":2,"gtype":"gage","title":"RSSI","label":"mW","format":"{{value}}","min":"-100","max":"-140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":420,"wires":[],"info":"RSSI. The Received Signal Strength Indication (RSSI) is the received signal power in milliwatts and is measured in dBm. This value can be used as a measurement of how well a receiver can “hear” a signal from a sender."},{"id":"431aaf63.685c6","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":6,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#8080ff","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":623,"wires":[[]]},{"id":"4404c0d6.ee93d","type":"inject","z":"30a7d6d5.c3fbca","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":783,"wires":[["431aaf63.685c6","bc15d136.664c4","c40d1e25.8804b"]]},{"id":"aa2a095a.bea0d8","type":"function","z":"30a7d6d5.c3fbca","name":"Parse","func":"var str=\"\";\nvar pi = 0;\nvar pf = 0;\n\nstr = msg.payload[2][4]\npi = str.search(\":-\")+1;\npf = str.search(\"/-\");\nvar rssi={}\nrssi.topic = \"rssi\";\nrssi.payload = parseInt(str.substring(pi,pf));\n\npi = str.search(\"/-\")+1;\npf = str.length-2;\nvar snr = {};\nsnr.topic = \"SNR\";\nsnr.payload = parseInt(str.substring(pi,pf));\n\nvar frequency_connection={};\nfrequency_connection.topic = \"KHz Doppler\";\nstr = msg.payload[3][4];\nfrequency_connection.payload = flow.get(\"freq\").payload + (parseInt(str.substring(12,str.length-2)) / 1000);\n\nvar satellite={};\nsatellite.topic = \"Satellite\";\nsatellite.payload = msg.payload[0][4];\n\nvar crc={};\ncrc.topic = \"CRC Ok\";\nif (msg.payload[4][4] === \"CRC ERROR\" || msg.payload[4][4] === \"CRC_ERROR\"){\n    crc.payload = parseInt(0);\n} else {\n    crc.payload = parseInt(500);\n}\n\nreturn [flow.get(\"mode\"),flow.get(\"freq\"),frequency_connection,flow.get(\"sf\"),flow.get(\"cr\"),snr,flow.get(\"bw\"),rssi,crc,satellite];","outputs":10,"noerr":0,"x":550,"y":663,"wires":[["8d2efac6.7359e8"],["431aaf63.685c6"],["431aaf63.685c6"],["bc15d136.664c4"],["bc15d136.664c4"],["6814af8d.e6803","bc15d136.664c4"],["c40d1e25.8804b"],["1b65df6f.dd0bc1","c40d1e25.8804b"],["c40d1e25.8804b"],["98c6e2fe.6dbc3","6abeacb7.a08134"]]},{"id":"8d2efac6.7359e8","type":"ui_text","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","order":4,"width":2,"height":1,"name":"","label":"Modulat.","format":"{{msg.payload}}","layout":"col-center","x":980,"y":583,"wires":[]},{"id":"bc15d136.664c4","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":7,"width":6,"height":5,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#64c4a9","#e4f65a","#ec4b63","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":663,"wires":[[]]},{"id":"6abeacb7.a08134","type":"function","z":"30a7d6d5.c3fbca","name":"add station","func":"msg.payload = \"Mcorts:\" + msg.payload;\nreturn [msg];","outputs":1,"noerr":0,"x":1010,"y":743,"wires":[["95543300.bb7b1"]],"outputLabels":["Sunset"]},{"id":"c40d1e25.8804b","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":11,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"-200","ymax":"600","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff7b","#8080ff","#fffafa","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":703,"wires":[[]]},{"id":"6814af8d.e6803","type":"ui_gauge","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":8,"width":3,"height":2,"gtype":"gage","title":"SNR","label":"dB","format":"{{value}}","min":"-20","max":10,"colors":["#ca3838","#e6e600","#00ba00"],"seg1":"","seg2":"","x":790,"y":783,"wires":[],"info":"Typical LoRa SNR values are between: -20dB and +10dB A value closer to +10dB means the received signal is less corrupted. LoRa can demodulate signals which are -7.5 dB to -20 dB below the noise floor"},{"id":"1b65df6f.dd0bc1","type":"ui_gauge","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":10,"width":3,"height":2,"gtype":"gage","title":"RSSI","label":"mW","format":"{{value}}","min":"-100","max":"-140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":783,"wires":[],"info":"RSSI. The Received Signal Strength Indication (RSSI) is the received signal power in milliwatts and is measured in dBm. This value can be used as a measurement of how well a receiver can “hear” a signal from a sender."},{"id":"c1e6d765.6d5598","type":"ui_text","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","order":3,"width":6,"height":1,"name":"","label":"Last reception","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":180,"wires":[]},{"id":"262307fa.1aa1f8","type":"ui_text","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","order":3,"width":6,"height":1,"name":"","label":"Last reception","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":543,"wires":[]},{"id":"98c6e2fe.6dbc3","type":"function","z":"30a7d6d5.c3fbca","name":"Current time to payload","func":"var today = new Date();\nvar date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();\nvar time = (today.getHours()+global.get('hours-gap')) + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = date+' '+time+' ('+msg.payload+')';\nreturn [msg];","outputs":1,"noerr":0,"x":630,"y":543,"wires":[["262307fa.1aa1f8"]]},{"id":"48bc11ed.6a9b6","type":"mqtt in","z":"30a7d6d5.c3fbca","name":"","topic":"tinygs/1338917787/SPACK_Kenya/cmnd/begin","qos":"2","datatype":"auto","broker":"acff9511.833668","x":240,"y":160,"wires":[["97526f58.92e54"]]},{"id":"f1a73c43.c9a7b","type":"ui_text","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","order":5,"width":4,"height":1,"name":"","label":"Listening","format":"{{msg.payload}}","layout":"row-center","x":980,"y":140,"wires":[]},{"id":"49dd9de2.43fc54","type":"ui_media","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","name":"Yagi","width":2,"height":2,"order":2,"category":"ant","file":"yagi.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":110,"y":280,"wires":[["5ea0d6d9.6678b8"]]},{"id":"c7872700.342fb8","type":"ui_media","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","name":"Dipole","width":2,"height":2,"order":2,"category":"ant","file":"aluminum.jpg","layout":"adjust","showcontrols":false,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":110,"y":623,"wires":[["b5c3ed01.2f6c7"]]},{"id":"7b2d6feb.73fa6","type":"comment","z":"30a7d6d5.c3fbca","name":"Heath Check","info":"","x":130,"y":840,"wires":[]},{"id":"7a83658c.d8623c","type":"switch","z":"30a7d6d5.c3fbca","name":"Not ping","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":983,"wires":[["70aeace2.909de4"]]},{"id":"70aeace2.909de4","type":"change","z":"30a7d6d5.c3fbca","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"FabLab NOT ALIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":983,"wires":[["95543300.bb7b1"]]},{"id":"2a4b1441.a3652c","type":"function","z":"30a7d6d5.c3fbca","name":"Label & Color","func":"if (msg.payload === false){\n    msg.payload = \"Not alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"red\";\n} else {\n    msg.payload = \"Alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"green\";\n}\nreturn [msg];","outputs":1,"noerr":0,"x":580,"y":1043,"wires":[["959cff9f.5d378"]],"outputLabels":["Sunset"]},{"id":"959cff9f.5d378","type":"ui_button","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":13,"width":2,"height":2,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":1043,"wires":[[]]},{"id":"6e291da4.8f2a44","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"3fc70ce.adf6cf4","order":12,"width":7,"height":3,"label":"Ping 192.168.1.64","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ad53e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":1043,"wires":[[]]},{"id":"ad6400ad.f5daa","type":"switch","z":"30a7d6d5.c3fbca","name":"Not ping","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1103,"wires":[["8e256a9b.4206c8"]]},{"id":"8e256a9b.4206c8","type":"change","z":"30a7d6d5.c3fbca","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"McOrts NOT ALIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":586,"y":1103,"wires":[["95543300.bb7b1"]]},{"id":"7c7df2be.fc941c","type":"function","z":"30a7d6d5.c3fbca","name":"Label & Color","func":"if (msg.payload === false){\n    msg.payload = \"Not alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"red\";\n} else {\n    msg.payload = \"Alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"green\";\n}\nreturn [msg];","outputs":1,"noerr":0,"x":586,"y":1143,"wires":[["232ec5a3.c91a9a"]],"outputLabels":["Sunset"]},{"id":"232ec5a3.c91a9a","type":"ui_button","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":13,"width":2,"height":2,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":796,"y":1143,"wires":[[]]},{"id":"3e4802c2.f7ecee","type":"ui_chart","z":"30a7d6d5.c3fbca","name":"","group":"375517.a69b9aea","order":12,"width":7,"height":3,"label":"Ping 192.168.1.103","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ad53e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":1163,"wires":[[]]},{"id":"3fa68046.40ecb","type":"inject","z":"30a7d6d5.c3fbca","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":943,"wires":[["3e4802c2.f7ecee"]]},{"id":"2adade57.3ddd72","type":"inject","z":"30a7d6d5.c3fbca","name":"Test2:Inject frame","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/frame/0","payload":"[[1,0,0,0,\"Norby\"],[1,0,0,11,\"Last Packet:   18:21\"],[1,0,0,23,\"RSSI/SNR:-129.0/-13.0dB\"],[1,2,64,34,\"Freq error: 14946.40Hz\"],[1,2,64,45,\"CONFIRMED\"]]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":40,"wires":[["c05a8a32.20b848","2bdc279a.b72f98"]]},{"id":"95543300.bb7b1","type":"http request","z":"30a7d6d5.c3fbca","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":880,"wires":[[]]},{"id":"943ce257.d064e","type":"inject","z":"30a7d6d5.c3fbca","name":"Test1:Inject begin","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/begin","payload":"{\"mode\":\"LoRa\",\"freq\":436.703,\"bw\":250.0,\"sf\":10,\"cr\":5,\"sw\":18,\"pwr\":5,\"cl\":120,\"pl\":8,\"gain\":0,\"crc\":true,\"fldro\":1,\"sat\":\"Norbi\",\"NORAD\":46494}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":40,"wires":[["97526f58.92e54","59d3fa4e.8a2774"]]},{"id":"af7b8b5c.7739a8","type":"function","z":"30a7d6d5.c3fbca","name":"Parse","func":"flow.set(\"mode\",{payload: msg.payload.mode, topic: \"Mode\" });\n\nvar frequency = {payload: msg.payload.freq}\nfrequency.topic = \"KHz\";\nfrequency.payload = parseFloat(frequency.payload).toFixed(3) * 1000;\nflow.set(\"freq\",frequency);\n\nflow.set(\"bw\",{payload: msg.payload.bw, topic: \"Bandwidth\" });\nflow.set(\"sf\",{payload: msg.payload.sf, topic: \"Spreading Factor\" });\nflow.set(\"cr\",{payload: msg.payload.cr, topic: \"Coding Rate\" });\nflow.set(\"sw\",{payload: msg.payload.sw, topic: \"SW\" });\nflow.set(\"pwr\",{payload: msg.payload.pwr, topic: \"Power\" });\nflow.set(\"cl\",{payload: msg.payload.cl, topic: \"cl\" });\nflow.set(\"pl\",{payload: msg.payload.pl, topic: \"pl\" });\nflow.set(\"gain\",{payload: msg.payload.gain, topic: \"Gain\" });\nflow.set(\"crc\",{payload: msg.payload.crc, topic: \"CRC OK\" });\nflow.set(\"fldro\",{payload: msg.payload.fldro, topic: \"fldro\" });\nflow.set(\"sat\",{payload: msg.payload.sat, topic: \"Satellite\" });\nflow.set(\"NORAD\",{payload: msg.payload.NORAD, topic: \"NORAD Number\" });\n\nreturn [flow.get(\"sat\")];","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["f1a73c43.c9a7b"]]},{"id":"97526f58.92e54","type":"json","z":"30a7d6d5.c3fbca","name":"","property":"payload","action":"","pretty":false,"x":570,"y":140,"wires":[["af7b8b5c.7739a8"]]},{"id":"d305f9d6.84fdc8","type":"function","z":"30a7d6d5.c3fbca","name":"Current time to payload","func":"var today = new Date();\nvar date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();\nvar time = (today.getHours()+global.get('hours-gap')) + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = date+' '+time+' ('+msg.payload+')';\nreturn [msg];","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["c1e6d765.6d5598"]]},{"id":"a09eb5c9.f163f8","type":"inject","z":"30a7d6d5.c3fbca","name":"Hours gap","topic":"HoursGap","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":40,"wires":[["c5005d6d.7150c"]]},{"id":"c5005d6d.7150c","type":"function","z":"30a7d6d5.c3fbca","name":"Store global hours-gap","func":"global.set('hours-gap',Number(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":40,"wires":[[]]},{"id":"28e92e9b.c70052","type":"ui_template","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","name":"Web access","order":14,"width":2,"height":1,"format":"<div>\n    <a href=\"http://192.168.1.64/\"><span>Web access</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":410,"y":100,"wires":[[]]},{"id":"875a7ed5.df9d3","type":"function","z":"30a7d6d5.c3fbca","name":"add station","func":"msg.payload = \"SPACK:\" + msg.payload;\nreturn [msg];","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["95543300.bb7b1"]],"outputLabels":["Sunset"]},{"id":"ecb0aa86.1aa9b8","type":"ui_template","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","name":"Web access","order":14,"width":2,"height":1,"format":"<div>\n    <a href=\"http://192.168.1.103/\"><span>Web access</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":443,"wires":[[]]},{"id":"dc53456f.96f698","type":"ui_text","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","order":5,"width":4,"height":1,"name":"","label":"Listening","format":"{{msg.payload}}","layout":"col-center","x":980,"y":503,"wires":[]},{"id":"a3717d27.81a39","type":"function","z":"30a7d6d5.c3fbca","name":"Parse","func":"flow.set(\"mode\",{payload: msg.payload.mode, topic: \"Mode\" });\n\nvar frequency = {payload: msg.payload.freq}\nfrequency.topic = \"KHz\";\nfrequency.payload = parseFloat(frequency.payload).toFixed(3) * 1000;\nflow.set(\"freq\",frequency);\n\nflow.set(\"bw\",{payload: msg.payload.bw, topic: \"Bandwidth\" });\nflow.set(\"sf\",{payload: msg.payload.sf, topic: \"Spreading Factor\" });\nflow.set(\"cr\",{payload: msg.payload.cr, topic: \"Coding Rate\" });\nflow.set(\"sw\",{payload: msg.payload.sw, topic: \"SW\" });\nflow.set(\"pwr\",{payload: msg.payload.pwr, topic: \"Power\" });\nflow.set(\"cl\",{payload: msg.payload.cl, topic: \"cl\" });\nflow.set(\"pl\",{payload: msg.payload.pl, topic: \"pl\" });\nflow.set(\"gain\",{payload: msg.payload.gain, topic: \"Gain\" });\nflow.set(\"crc\",{payload: msg.payload.crc, topic: \"CRC OK\" });\nflow.set(\"fldro\",{payload: msg.payload.fldro, topic: \"fldro\" });\nflow.set(\"sat\",{payload: msg.payload.sat, topic: \"Satellite\" });\nflow.set(\"NORAD\",{payload: msg.payload.NORAD, topic: \"NORAD Number\" });\n\nreturn [flow.get(\"sat\")];","outputs":1,"noerr":0,"x":730,"y":503,"wires":[["dc53456f.96f698"]]},{"id":"59d3fa4e.8a2774","type":"json","z":"30a7d6d5.c3fbca","name":"","property":"payload","action":"","pretty":false,"x":550,"y":503,"wires":[["a3717d27.81a39"]]},{"id":"6b11b923.fb7458","type":"mqtt in","z":"30a7d6d5.c3fbca","name":"","topic":"tinygs/401761079/McOrts/cmnd/begin","qos":"2","datatype":"auto","broker":"acff9511.833668","x":210,"y":503,"wires":[["59d3fa4e.8a2774"]]},{"id":"5ea0d6d9.6678b8","type":"ui_text","z":"30a7d6d5.c3fbca","group":"3fc70ce.adf6cf4","order":1,"width":1,"height":2,"name":"","label":"","format":"Y a g i","layout":"row-left","x":120,"y":340,"wires":[]},{"id":"b5c3ed01.2f6c7","type":"ui_text","z":"30a7d6d5.c3fbca","group":"375517.a69b9aea","order":1,"width":1,"height":2,"name":"","label":"","format":"D i p o l e","layout":"row-center","x":110,"y":663,"wires":[]},{"id":"fb167620.ef5a48","type":"comment","z":"30a7d6d5.c3fbca","name":"McOrts ground station","info":"","x":160,"y":443,"wires":[]},{"id":"bc694fe5.bd7dd","type":"comment","z":"30a7d6d5.c3fbca","name":"SPACK 1 Nairobi ground station","info":"","x":190,"y":100,"wires":[]},{"id":"c98f6d1e.175f2","type":"ping","z":"30a7d6d5.c3fbca","mode":null,"name":"","host":"192.168.1.103","timer":"1800","inputs":0,"x":130,"y":1103,"wires":[["ad6400ad.f5daa","7c7df2be.fc941c","3e4802c2.f7ecee"]]},{"id":"eade3f3e.856fc","type":"ping","z":"30a7d6d5.c3fbca","mode":null,"name":"","host":"192.168.100.102","timer":"1800","inputs":0,"x":140,"y":983,"wires":[["7a83658c.d8623c","2a4b1441.a3652c","6e291da4.8f2a44"]]},{"id":"c3adafd8.31eb4","type":"inject","z":"30a7d6d5.c3fbca","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":920,"wires":[["3e4802c2.f7ecee","ad6400ad.f5daa"]]},{"id":"2bdc279a.b72f98","type":"debug","z":"30a7d6d5.c3fbca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":300,"wires":[]}]